// Place all the styles related to the Api/Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-page{
  height: 100%;
  margin-top: 22px;
  background-color: #FAF9F5;
  padding: 75px 150px;
  display: flex;
  justify-content: center;
}

.cart-index-container{
  border: 1px solid #E1E3DF;
  border-top-color: #CBCCC9;
  border-radius: 3px;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.cart-container {
  width: 80%;
}
.carts-index-item{
  border-top: 1px solid #E1E3DF;
  border-radius: 3px;
  height: 20opx;
  padding: 25px;
  margin: 0 8px;
}
.cart-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.photo-col {
  border: 1px solid #E1E3DF;
  background-color: #E1E3DF;
  border-radius: 3px;
  height: 170px;
  width: 30%;
  max-height: 80%;
  display: flex;
  align-content: center;
}

.cart-item-image{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.title-col {
  width: 30%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

.cart-item-title {
}

.cart-delete {
  height: 30px;
  width: fit-content;
  font-weight: 500;
  font-size: 13px;
  border: none;
  outline: none;
  padding: 0;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.cart-delete:hover{
  text-decoration: underline;
}

.drop-down-col {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  z-index: 5;
  width: 100%;
  height: 38px;
  background-color: white;
  outline: none;
  border: 1px solid  #E1E3DF; 
  // -webkit-appearance: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.cart-item-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.price-col {
  width: 25%;
  height: 38px;
  display: flex;
}

.unit-price {
  font-size: 12px;
}

.checkout-col {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
  border-left: 1px solid #E1E3DF;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
}

.checkout-col button {
  height: 40px;
  width: 90%;
  border-radius: 3px;
  font-weight: 600;
  background-color: black;
  border-color: black;
  color: white;
  outline: none;
  margin-top: 15px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.checkout-col button:hover{
  border: 1px solid  #595959;
  background-color: #595959;
}

.total {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 175px;
  width: 85%;
}

.total-amount{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tax{
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-line{
    border: 1px solid #595959;
    border-bottom-width: 0px;
}
.real-total{
  align-self: flex-end;
}