// This file will automatically be included in application.css.
html, body, #root, #full-page {
 padding: 0;
 margin: 0;
 height: fit-content;
 min-height: 100vh;
 width: 100vw;
}

button, a, link, ul {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: inherit;
}

.button {
  font-weight: bold;
  font-size: 1rem;
  border-radius: 24px;
}
  
.button.black {
  border: none;
  color: white;
  background-color: black;
  
  &:hover{
    background-color: #2f2f2f;
  }
}

.button.white {
  border: 2px solid black;
  color: black;
  background-color: white;
  
  &:hover {
    background-color: #FFF;
  }
}

.button.small{
  padding: 9px 12px;
  margin: 3px;

  &.expand:hover {
    padding: 11px 14px;
    margin: 1px;
    box-shadow: 0px 4px 20px rgb(220, 220, 220);
  }
}

.button.large {
  padding: 12px 18px;
  margin: 3px;

  &.expand:hover {
    padding: 14px 20px;
    margin: 1px;
    box-shadow: 0px 4px 20px rgb(220, 220, 220);
  }
}

:root {
  font-size: 16px;
}

#full-page{
  display: flex;
  flex-direction: column;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}

#non-footer-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 85px);
}

header {
  cursor: default;
  border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
 }

 @media screen and (max-device-width: 600px) {
   :root {
     font-size: 28px !important;
   }
   nav {
     flex-wrap: wrap;
   
   }
   #search-form {
    order: 3;
   }
   .logo {
     flex: 1 1 45%;
   }
   .navbar-buttons {
     flex: 1 1 45%;
   }
 }

.logo {
  font-size: 2.5rem;
  color: #f45800;
  font-family: 'Raleway', sans-serif;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 0 1 10%;
  justify-content: flex-end;
}

.navbar-buttons button {
  background-color: transparent;
  font-size: 1rem;
}

// sign in and register buttons
.public-options button {
  padding: 9px 15px;
  border-radius: 24px;
  width: max-content;
  
  &:hover {
    background-color: rgb(238, 238, 238);
  }

  &:active {
    background-color: rgb(220, 220, 220);
  }
}


// sign out and cart options
.session-options {
  gap: 1rem;

  #profile-button {
    height: 2rem;
    aspect-ratio: 1 / 1;
  }
}

#profile-button:hover {
  background-color: black;
  border-radius: 100%;
  
  .user-show-thumbnail {
    opacity: 0.7;
  }
}

#profile-button.user-show-thumbnail {
  height: 100%;
}

.cart-link {
  padding: 0;
  -webkit-text-stroke-width: thick;
  font-size: 1.75rem;

  &:hover {
    text-shadow: -0.5px 0 grey, 0 0.5px grey, 0.5px 0 grey, 0 -0.5px grey;
  }
}

header ul {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin: 0;
}

 @media screen and (max-device-width: 600px) {
   header ul {
     justify-content: space-evenly;
   }
 }

.directory-category{
  display: flex;
  justify-content: center;
  width: 20%;
  
  button {
    height: 99%;
    width: 100%;
  }

  &:hover {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
  }
}

.category {
  font-size: 1rem;
  padding: 15px;
}
