// USER INDEX PAGE styling

.product-index{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  align-items: center;
  padding: 3rem;
}

.product-index-interior{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  box-sizing: border-box;
}

.product-link{
  color: black;
}

.product{
  width: 100%;
}

.image-box {
  overflow: hidden;
  aspect-ratio: 1.23 / 1;
  display: flex;
}

.image{
  object-fit: cover;
  border-radius: 3px;
  min-width: 100%;
  min-height: 100%;
  max-height: 110%;
  object-position: 20% 30%;
}

.pertinent-info div {
  line-height: 1.6;
}

.product-price{
   font-size: 16px;
   font-weight: 500;
}

.product-artist{
   color: #595959;
   font-size: 12px;
}
// ----------------------------------
// USER SHOW PAGE styling

.product-show {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
}

.product-show .left-side {
  display: flex;
  flex-direction: column;

  flex: 3 1 auto;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.right-side {
  flex: 1 1 auto;

  h2 { 
    font-size: 1rem; 
  }
}

.show-artist{
  font-weight: 400;
}

.show-title{
  font-family: "Guardian-EgypTT",serif;
  font-weight: 300;
  font-size: 26px;
}

.show-price {
  font-weight: 700;
  font-size: 28px;
}

.product-show .right-side > div {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 10px;
}

.product-specs p {
  font-size: 1rem;
  margin: 0;
}

.product-specs > div {
  display: flex; 
  font-size: 25px;
  color: transparent;
  text-shadow: 0 0 0 black;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: center;
}

.shipping-specs div {
  font-family: "Guardian-EgypTT",serif;
  font-size: 26px;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.shipping-specs p {
  margin: 0;
}

#product-listing {
  padding: 0 2rem;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#product-listing-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
}

#product-listing ul {
  border: 2px solid rgba(34, 34, 34, 0.15);
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  >li:first-child{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
  }
}

.product-listing-item {
  display: flex;
  
  >div:first-child {
    width: 25%;
  }
}

#product-listing input:focus-visible {
  outline: unset;
}

#product-listing > button {
  width: fit-content;
  align-self: flex-end;
  margin-bottom: 5rem;
}

.shop-heading {
  text-align: center;
  width: 33%;
  margin-bottom: 3rem;
}

.shop-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.shop-tagline {
  font-size: 1.2rem;
  line-height: 2rem;
}

.shop-index {
  border: 2px solid rgba(34, 34, 34, 0.15);
  border-radius: 3px;
  padding: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.shop-listing-link {
  border: 1.5px solid rgba(34, 34, 34, 0.15);
  border-radius: 3px;

  .image-box {
    padding: 2px;
  }
}

.shop-buttons {
  border-top: 1.5px solid rgba(34, 34, 34, 0.15);

  .delete-product {
    border-left: 1.5px solid rgba(34, 34, 34, 0.15);
  }
  button {
    width: 50%;
    color: #595959;
    font-weight: 600;
    font-size: 1rem;
    opacity: .8;
    padding: 1rem;
  }
}

.first-shop-square .image-box {
    display: flex;
    flex-direction: column;
    background-color: #F0FBFD;
    justify-content: center;
    align-items: center;
    color: #34A8C4;

    .plus-icon svg {
      opacity: 70%;
      font-size: 2rem;
      stroke-width: 2;
    }
}

.shop-index .blank-square .image-box {
  background-color: #FAF9F5;
}

