// Place all the styles related to the Api::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index{
  display: flex;
  justify-content: center;
  height: fit-content;
  min-height: 400px;
  margin: 50px 0;
}

.product-index-interior{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: fit-content;
  width: 1000px;
  margin: 0 auto;
}

.product-link{
  display: flex;
  flex-wrap: wrap;
  flex: 3 1 content;
  width: 310px;
  height: 425px;
  margin: 10px;
  padding: 0;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  border-bottom-color: #CBCCC9;
}

.product{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image{
  margin: 10px;
  width: 90%;
  height: 80%;
  outline: 1px solid black;
}
.product-title{
  display: flex;
   margin: 10px 0;
}

.product-price{
  display: flex;
   margin: 10px 0;
}

.product-artist{
  display: flex;
   margin: 10px 0;
}

.product-show-page{
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}

.product-show{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: flex-end;
}

.show-image{
  display: flex;
  width: 500px;
  height: 500px;
  align-items: center;
}

.image-placeholder{
  display: flex;
  width: 100%;
  height: 80%;
  border: 1px solid black;
}

.show-info{
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  width: 35%;
  height: 80%;
  justify-content: center;
}

.show-title{
  padding: 15px;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  color: #333;
  font-family: "Guardian-EgypTT",Arial,sans-serif;
}

.show-artist{
  padding: 15px;
  display: flex;
  font-weight: 400;
  color: #333;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 14px;
}

.show-price{
  padding: 15px;
  display: flex;
  width: fit-content;
  font-weight: 900;
  color: #333;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 14px;
}

.overview{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.overview-title{
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  font-family: "Guardian-EgypTT",Arial,sans-serif;
  text-align: left;
}

.overview-list{
  font-size: 16px;
  font-weight: 400;
  color: #333;
  font-family: "Guardian-EgypTT",Arial,sans-serif;
}

.line{
    border: #E1E3DF 1px solid;
    border-bottom-width: 0px;
    margin-bottom: 21px;
    margin-top: 21px;
    background-color: #E1E3DF;
    height: 1px;
    width: 100%;
}


