// Place all the styles related to the Api::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-index{
  display: flex;
  min-height: 400px;
  margin: 50px;
  justify-content: center;
}

.product-index-interior{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media all and (max-device-width: 899px) {
  .product-link {
    flex-basis: 46% !important;
    max-width: 50% !important;
  }
  .image-box {
    height: calc(100vh / 5) !important;
  }
}

.product-link{
  text-decoration: none;
  color: black;
  flex-grow: 1;
  flex-basis: 29%;
  max-width: 32%;
  padding: 2%;
}

.product{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.dummy{
  width: 300px;
  height: 0px;
  margin: 10px;
}

.image-box {
  height: calc(100vh / 3);
  overflow: hidden;
}

.image{
  align-self: baseline;
  object-fit: contain;
  border-radius: 3px;
  width: 100%;
}

.pertinent-info div {
  line-height: 1.6;
}

.product-price{
   font-size: 16px;
   font-weight: 500;
}

.product-artist{
   color: #595959;
   font-size: 12px;
}

.product-show-page {
  min-height: calc(100vh - 230px);
}

.product-show{
  display: flex;
  flex-direction: column;
  margin: 50px 25px;
  align-content: center;
  cursor: default;
}

.product-section{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.show-image{
  display: flex;
  width: 600px;
  height: 600px;
}

.image-show{
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.image-placeholder{
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
}

.show-info{
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  padding-left: 30px;
  align-self: flex-start;
}

.show-info div {
  display: flex;
}

.show-title{
  font-family: "Guardian-EgypTT",serif;
  font-weight: 300;
  color: #222;
  font-size: 26px;
  letter-spacing: 0.35px;
}

.show-artist{
  font-weight: 400;
  color: #333;
  font-size: 14px;
}

.show-price{
  width: fit-content;
  font-weight: 500;
  color: #333;
  font-size: 28px;
  line-height: 36px;
}

.product-description{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 300;
  line-height: 18px;
}

.general-product-data {
  display: flex;
  align-items: center;

  div {
    font-size: 25px;
    width: 10%;
    color: transparent;
    text-shadow: 0 0 0 black;
  }

  p {
    font-size: 13px;
  }
}

#made-to-order {
  margin-bottom: 18px;
}

.product-materials {
  display: flex;
  flex-direction: column;
}

.product-materials p {
  font-size: 13px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 6px;
}

.product-materials div {
  font-family: "Guardian-EgypTT",serif;
  letter-spacing: 0.35px;
}

.overview-list{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.line{
  border: #E1E3DF 1px solid;
  border-bottom-width: 0px;
  margin-bottom: 21px;
  margin-top: 21px;
  background-color: #E1E3DF;
  height: 1px;
  width: 100%;
}

.product-show button {
  border-radius: 96px;
  font-weight: 500;
  border: 2px solid #222222;;
  outline: none;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 50px;
}

.cart-add-button {
  color: black;
}

.cart-add-button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.cart-visit-button:hover {
  background-color: #595959;
  color: white;
}

.cart-visit-button {
  color: white;
  background-color: black;
  cursor: pointer;
}
