#logo-search {
  width: 90%;
}

.logo-link {
  text-decoration: none !important;
}

#search {
  width: 80%;
}

#search-form {
  display: flex;
}
.search-input {
  font-size: 14px;
  width: 90%;
  height: 30px;
  padding: 9px 15px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 96px 0px 0px 96px;
  border-right: none !important;
  outline: none;
  background-color: rgb(238, 238, 238);
}

.search-input:hover {
  border-color: rgba(34, 34, 34, 0.5);
}

.search-input:hover + .search-button {
  border-color: rgba(34, 34, 34, 0.5);
}

.search-input:focus {
  background-color: #FFF;
  border-color: black !important;
}

.search-input:focus + .search-button {
  border-color: black;
  background-color: black;
  color: white;
}

.search-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-button {
  font-size: 35px;
  height: 50px;
  padding: 9px 15px;
  border: 1px solid #CBCCC9;
  border-radius: 0px 96px 96px 0px;
  border-left: none !important;
  margin-left: -8px;
  outline: none;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(220, 220, 220);
  border: 1px solid rgb(190, 190, 190);
}
