#search-form {
  display: flex;
  flex: 1 1 100%;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 96px;
  background-color: rgb(238, 238, 238);
  justify-content: space-between;

  &:hover {
    border-color: rgba(34, 34, 34, 0.5);
  }

  &:focus-within {
    border-color: black;
    background-color: #FFF;
  }
}
.search-input {
  font-size: 1rem;
  width: 90%;
  padding: 0.25em 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-input:focus + .search-button {
  border-color: black;
  background-color: black;
  color: white;
}

.search-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-button {
  font-size: 2rem;
  padding: 0.25rem 1rem;
  display: inline-flex;
  outline: none;
  border-radius: 0 96px 96px 0
}

.search-button:hover {
  background-color: rgb(220, 220, 220);
  border-left: 1px solid rgb(190, 190, 190);
}
