.modal-background{
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  justify-content: center;
  overflow: scroll;
  padding-top: 30px;
  cursor: pointer;
}
.modal-foreground{
  position: absolute;
  display: flex;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 380px;
}
.session-form{
  width: 100%;
}

.modal-form{
  padding: 15px;
  background: white;
  border-radius: 3px;
  line-height: 1.4;
  cursor: default;
  width: 100%;
  min-height: 700px;
  max-height: calc(100vh - 250px);
  margin-bottom: 40px;
}

.login-form{
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.topline-session-modal {
  display: flex;
  justify-content: space-between;
}

#greeting{
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0;
}

.topline-session-modal button {
  border: none;
  border-radius: 24px;
  margin: 2px;
}

.topline-session-modal button:hover {
  // border: none;
  margin: 1px;

  .alternate-session-link {
    border: 2.5px solid black;
    padding: 9px 15px !important;
    margin: 3px !important;
  }
}

.alternate-session-link {
  text-decoration: none;
  color: black;
  padding: 9px 15px;
  margin: 4px;
  border: 1.5px solid black;
  border-radius: 24px;
}

#tagline{
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.input-label {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
  #username-input{
    margin-top: 6px;
  }

.modal-input{
  margin-bottom: 0;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgba(203, 204, 201, 0.728);
  position: relative;
  box-shadow: none;
  outline-style: none;
  margin-right: 20px;
  margin-top: 5px;
  width: 95%;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
  }

  .modal-input:focus {
    border: 1px solid #595959;
  }

 .input-error{
   border: 1px solid red;
    margin-bottom: 0;
    height: 48px;
    font-size: 16px;
    border-radius: 4px;
    position: relative;
    box-shadow: none;
    outline-style: none;
    margin-right: 20px;
    width: 95%;
    padding-left: 15px;
  }

  .input-error:focus {
    border: 1px solid #595959;
  }

 .errors{
   color: red;
   list-style: none;
   padding-left: 0;
   font-family: 'Montserrat', sans-serif;
  }

  .err-div{
    padding-top: 0;
    height: 20px;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .login-err-div{
    height: 15px;
    margin-bottom: 10px;
  }

.modal-submit{
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  background-color: #222222;
  color: white;
  margin: 16px 0px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  padding: 12px 28px;
  font-weight: bold;
}
.modal-submit:hover{
  background-color: #3c3c3c;
  cursor: pointer;
}

.modal-divider{
  text-align: center;
  border-bottom: 1px solid #E1E3DF;
  margin-bottom: 24px;
  margin-top: 24px;
  line-height: 0;
}
#or-option{
  color: #595959;
  text-align: center;
  background-color: white;
  padding: 12px;
  font-family: 'Montserrat', sans-serif;
}
#demo-signin{
  border-radius: 4px;
  border-color: #E1E3DF;
  margin: 16px 0px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  padding: 12px 28px;
  font-weight: bold;
  background-color: #FFF;
  color: #222;
  font-family: 'Montserrat', sans-serif;
}

#demo-signin:hover{
  background-color: #f9f9f7;
  border-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#demo-signin:focus{
  outline: none;
}
.modal-submit:focus{
  outline: none;
}