// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-background{
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  justify-content: center;
  overflow: scroll;
  padding-top: 30px;
}
.modal-foreground{
  position: absolute;
  display: flex;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 360px;
}
.session-form{
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 360px; 
}

.modal-form{
   padding: 15px;
   background: white;
   border-radius: 3px;
   display: block;
   -webkit-font-smoothing: antialiased;
   line-height: 1.4;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -15px;
    cursor: default;
    width: 100%;
    height: auto;
    min-height: 700px;
    max-height: calc(100vh - 250px);
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.login-form{
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#greeting{
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;
  padding-bottom: 5px;
}
#tagline{
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.login-form > label {
  display: block;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 6px;
}

 #username-label{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }
  #username-input{
    margin-top: 6px;
  }

.modal-input{
  margin-bottom: 0;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  box-shadow: none;
  outline-style: none;
  border-width: 1px;
  margin-right: 20px;
  width: 95%;
  border-color: #E1E3DF; 
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
}
 .input-error{
    border-color: red;
    margin-bottom: 0;
    height: 48px;
    font-size: 16px;
    border-radius: 4px;
    position: relative;
    box-shadow: none;
    outline-style: none;
    border-width: 1px;
    margin-right: 20px;
    width: 95%;
    padding-left: 15px;
  }
 .errors{
   color: red;
   list-style: none;
   padding-left: 0;
   font-family: 'Montserrat', sans-serif;
  }
  
  .err-div{
    padding-top: 0;
    height: 15px;
    margin-bottom: 20px;
    padding-left: 0;
    margin-top: -10px;
  }

  .login-err-div{
    height: 15px;
    margin-bottom: 10px;
  }

.modal-submit{
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  background-color: #222222;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  padding: 12px 28px;
  font-weight: bold;
}
.modal-submit:hover{
  background-color: #3c3c3c;
  cursor: pointer;
}

.modal-divider{
  display: block;
  text-align: center;
  border-bottom: 1px solid #E1E3DF;
  margin-bottom: 24px;
  margin-top: 24px;
  line-height: 0;

}
#or-option{
      color: #595959;
      text-align: center;
      background-color: white;
      padding: 12px;
      font-family: 'Montserrat', sans-serif;
}
#demo-signin{
  border-radius: 4px;
  border-color: #E1E3DF; 
  margin-top: 16px;
  margin-bottom: 16px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  padding: 12px 28px;
  font-weight: bold;
  background-color: #FFF;
  color: #222;
  font-family: 'Montserrat', sans-serif;
}

#demo-signin:hover{
  background-color: #f9f9f7;
  border-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#demo-signin:focus{
  outline: none;
}
.modal-submit:focus{
  outline: none;
}

#full-screen{
  margin: 0;
  min-width: 100vw;
}

 .header{
   height: 168px;
   cursor: default;

 }

.nav-bar{
  height: 65%;
}

 .offset-banner{
   height: 40%;
   background-color: #2F766D;
 }
 .options-bar{
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .options-bar-el{
    display: flex;
    // align-content: center;
 }

 #login-options{
   clear: right;
   margin-right: 70px;
 }

  #register-div{
    padding-right: 5px;
  }

  #search {
    font-size: 14px;
    color: #222222;
  }

  #logo-search {
    margin-left: 30px;
  }

  #logo{
    font-size: 32px;
    color: #f45800;
    font-family: 'Raleway', sans-serif; 
  }
  
  .options-bar-item{
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
  }

 #register-button{
    border: 0 none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
 }
 #logout-div{
   clear: right;
   margin-right: 50px;
   display: flex;
   align-items: center;
 }
 
 #login-button{
    border: 1px solid;
    border-radius: 3px;
    font-size: 14px;
    width: 75px;
    font-family: 'Montserrat', sans-serif;
 }
 #logout-button{
    border: 1px solid;
    border-radius: 3px;
    font-size: 14px;
    padding: 8px;
    // margin-top: 15px;
    height: 36px;
    width: 75px;
    font-family: 'Montserrat', sans-serif;
 }
  .cart-link{
    border: 1px solid black;
    border-radius: 3px;
    // margin-top: 15px;
    height: 36px;
    width: 45px;
    margin-left: 15px;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
  }
  
  .cart-image{
    margin-bottom: -3px;
    margin-right: -3px;
    -webkit-text-stroke-width: thick;
    font-size: 18px;
  }

    .cart-link:hover > div{
      fill: white;
    }

  .cart-link:hover{
      fill: white;
      background-color: #3c3c3c !important;
      color: #FFF;
      border-color: #414141;
      cursor: pointer;
  }

  #register-button:hover {
    text-decoration: underline;
    color: #595959;
    cursor: pointer;
  }

  #register-button:focus{
      border: none;
      outline: none;
  }

  #register-button:active {
      border: none;
      outline: none;
  }

  #login-button:visited {
    color: #222;
    text-decoration: underline;
  }

  #login-button:hover{
      background-color: #3c3c3c !important;
      color: #FFF;
      border-color: #222222;
      cursor: pointer;
  }

  #logout-button:hover{
      background-color: #3c3c3c !important;
      color: #FFF;
      border-color: #222222;
      cursor: pointer;
  }

  #cart-link:hover{
      background-color: #3c3c3c;
      color: #FFF;
      border-color: #222222;
      cursor: pointer;
  }
  

  #login-button:focus {
    outline: none;
    border: 1px solid;
  }
  #logout-button:focus {
    outline: none;
    border: 1px solid;
  }

  #login-button:active{
      outline: none;
      text-decoration: underline;
      background-color: white;
      color:#222;
  }

 
 
 

  

