// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show-container {
  margin: 25px;
}

.user-show-profile {
  display: flex;
}

.hidden {
  display: none !important;
}

.profile-modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-modal {
  z-index: 1;
  padding: 8px 4px;
  width: 20%;
  position: fixed;
  right: 5%;
  background-color: #FFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

#profile-button {
  border: none;
  width: 50%;
  display: flex; */
  flex-direction: column;

  .user-show-thumbnail {
    outline: none;
    width: 48%;
    height: 51%;
  }

  .navbar-profile-label {
    width: fit-content;
  }
}

.profile-dropdown-body div {
  padding: 5%;
}

#profile-dropdown:hover {
  color: lightgrey;
}

.profile-dropdown .bar-1 {
  display: flex;
  align-content: center;

  .user-show-thumbnail {
    padding-top: 18%;
    width: 20%;
  }
}

.user-show-image {
  background-image: url(./default-profile-picture.png);
  width: 150px;
  height: 150px;
  outline: 5px solid #E55400;
  background-size: cover;
}

.user-show-thumbnail {
  background-image: url(./default-profile-picture.png);
  width: 15px;
  height: 15px;
  outline: 1px solid #E55400;
  background-size: cover;
}

.user-show-greeting {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: lighter;
}

#profile-link {
  text-decoration: none;
  font-size: 14px;
  color: black;
  padding-left: 4px;
  display: flex;
  align-items: center;
}