// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-show-container {
  margin: 25px;
}

.user-show-profile {
  display: flex;
  flex-direction: row;
}

#profile-dropdown {
  display: inline-block;
  position: relative;
}

.profile-dropdown-content {
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1;
}

#profile-dropdown:hover .profile-dropdown-content {
  display: block;
  width: max-content;
}

.profile-dropdown-body {
  padding: 8px 4px;
  background-color: #FFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.profile-dropdown-body div {
  padding: 8px;
}

.profile-dropdown-placeholder {
  height: 100%;
  padding-bottom: 16px;
}

#profile-dropdown:hover {
  color: lightgrey;
}

.profile-dropdown-bar-1 {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.user-show-image {
  background-image: url(./default-profile-picture.png);
  width: 150px;
  height: 150px;
  outline: 5px solid #E55400;
  background-size: cover;
}

.user-show-thumbnail {
  background-image: url(./default-profile-picture.png);
  width: 15px;
  height: 15px;
  outline: 1px solid #E55400;
  background-size: cover;
}

.user-show-greeting {
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: lighter;
}

#profile-link {
  text-decoration: none;
  font-size: 14px;
  color: black;
  padding-left: 4px;
  display: flex;
  align-items: center;
}