// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-background{
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  justify-content: center;
}
.modal-foreground{
  position: absolute;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  padding: 18px;
}
.session-form{
  display: block;
  max-width: 360px;
  position: relative;
  padding: 0;
}

.modal-form{
   padding: 15px;
   background: white;
   border-radius: 3px;
   display: block;
   -webkit-font-smoothing: antialiased;
   line-height: 1.4;
    margin-left: -12px;
    margin-right: -12px;
    cursor: default;
}

.login-form{
  display: block;
  position: relative;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
#greeting{
  font-size: 20px;
  font-family: "Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0;
}
#tagline{
  padding-bottom: 5px;
  margin: 0;
  font-size: 14px;
  font-family: "Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
}
.login-form > label {
  display: block;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 14px;
  margin-bottom: 6px;
}

.modal-input{
  margin-bottom: 16px;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  box-shadow: none;
  border-color: #adaeaa;
  padding-left: 16px;
  padding-right: 16px;
  border-width: 1px;
}

.modal-submit{
  background-color: black;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  padding: 12px 28px;
  font-weight: bold;
}
.body{
   height: 100%;
   cursor: default;
 }

 .header{
   height: 130px;
   cursor: default;
 }

.nav-bar{
  display: block; 
  padding: 0;
  top: 0;
  height: 100%;
  margin: 0;
}

 .offset-banner{
  
   background-color: #2F766D;
   height: 35%;
   margin-top: -10px;
   margin-right: -10px;
   margin-left: -10px;
 }
 .options-bar{
    height: 65%;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none; 
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    
 }



 #register-button{
    display: flex;
    float: left;
    border: 0 none;
    height: 80%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
 }

 #login-button{
    display: flex;
    float: right;
    border: 0 none;
    height: 80%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
 }

 

