// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-background{
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  justify-content: center;
}
.modal-foreground{
  position: absolute;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  padding: 18px;
}
.session-form{
  display: block;
  max-width: 360px;
  position: relative;
  padding: 0;
}

.modal-form{
   padding: 15px;
   background: white;
   border-radius: 3px;
   display: block;
   -webkit-font-smoothing: antialiased;
   line-height: 1.4;
    margin-left: -12px;
    margin-right: -12px;
    cursor: default;
}

.login-form{
  display: block;
  position: relative;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
#greeting{
  font-size: 20px;
  font-family: "Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0;
}
#tagline{
  padding-bottom: 5px;
  margin: 0;
  font-size: 14px;
  font-family: "Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans", "Segoe UI", Helvetica, Arial, sans-serif;
}
.login-form > label {
  display: block;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 14px;
  margin-bottom: 6px;
}

.modal-input{
  margin-bottom: 16px;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  box-shadow: none;
  border-color: #adaeaa;
  padding-left: 16px;
  padding-right: 16px;
  border-width: 1px;
}

.modal-submit{
  background-color: black;
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  padding: 12px 28px;
  font-weight: bold;
}

 .nav-bar{
   position: static;
   right: 0;
    top: 0;
    height: 60px;
    margin: 0 -10px;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
 }

 #register-button{
  //  display: flex;
  //  float: right;
    float: left;
    position: relative;
    list-style: none;
    border: 0 none;
    margin: 0;
    padding: 0;
 }

 #login-button{
   float: left;
    position: relative;
    list-style: none;
    border: 0 none;
    margin: 0;
    padding: 0;
 }

 .nav-bar > button{

 }